<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="widget">
          <h5 class="widgetheading">Kontaktieren Sie uns!</h5>
          <address>
            <strong>CIRIS</strong><br>
            Querstraße 3<br>
            61440 Oberursel (Taunus)
          </address>
          <p>
            <i class="icon-phone"></i> 0151 / 58 55 3160 <br>
            <i class="icon-envelope-alt"></i> info@ciris-transport.de
          </p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="widget">
          <h5 class="widgetheading">Zusätzliche Seiten</h5>
          <a href="{{ .Site.BaseURL }}impressum">Impressum</a>
        </div>
      </div>
      <div id="sub-footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="copyright">
                <p>&copy; Moderna Theme. All right reserved.</p>
                <div class="credits">
                  <!--
                    All the links in the footer should remain intact.
                    You can delete the links only if you purchased the pro version.
                    Licensing information: https://bootstrapmade.com/license/
                    Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Moderna
                  -->
                  <a href="https://bootstrapmade.com/">Free Bootstrap Themes</a> by <a
                  href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <ul class="social-network">
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="cookie-notifier">
  <p>Unsere Webseite verwendet Cookies, um die Benutzererfahrung zu verbessern und den bestmöglichen Service zu bieten. Durch die weitere Nutzung der Webseite stimmen Sie der Verwendung der Cookies zu.
    <a href="{{ .Site.BaseURL }}impressum">Klicken Sie hier, um die Datenschutzrichtlinie anzuzeigen</a>.</p>
  <a href="#" class="btn btn-primary cookie-btn cookie-btn__accept">ZUSTIMMEN</a>
  <a href="#" class="btn btn-primary cookie-btn">NICHT ZUSTIMMEN</a>
</div>