<script src="{{ "" | absLangURL }}js/jquery.js"></script>
<script src="{{ "" | absLangURL }}js/jquery.easing.1.3.js"></script>
<script src="{{ "" | absLangURL }}js/bootstrap.min.js"></script>
<script src="{{ "" | absLangURL }}js/jquery.fancybox.pack.js"></script>
<script src="{{ "" | absLangURL }}js/jquery.fancybox-media.js"></script>
<script src="{{ "" | absLangURL }}js/google-code-prettify/prettify.js"></script>
<script src="{{ "" | absLangURL }}js/portfolio/jquery.quicksand.js"></script>
<script src="{{ "" | absLangURL }}js/portfolio/setting.js"></script>
<script src="{{ "" | absLangURL }}js/jquery.flexslider.js"></script>
<script src="{{ "" | absLangURL }}js/animate.js"></script>
<script src="{{ "" | absLangURL }}js/custom.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-102675831-2"></script>
<script>
    var enableAnalytics = function () {
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-102675831-2');
    };

    if (document.cookie.match('(^|;) ?_cookienotifier_accepted=([^;]*)(;|$)')) {
        $('.cookie-notifier').hide();
        enableAnalytics();
    }

    if (document.cookie.match('(^|;) ?_cookienotifier_refused=([^;]*)(;|$)')) {
        $('.cookie-notifier').hide();
    }

    $('.cookie-btn').click(function(e){
        e.preventDefault();
        var expires = new Date();
        if ($(this).hasClass('cookie-btn__accept')) {
            expires.setTime(expires.getTime() + (365 * 24 * 60 * 60 * 1000)); /* 365 days */
            document.cookie = '_cookienotifier_accepted=true' + ';expires=' + expires.toUTCString() + ';path=/';
            enableAnalytics();
        } else {
            expires.setMonth(expires.getMonth() + 1); /* one month */
            document.cookie = '_cookienotifier_refused=true' + ';expires=' + expires.toUTCString() + ';path=/';
        }
        $('.cookie-notifier').hide();
    });

</script>
