<section class="cd-timeline js-cd-timeline">
  <div class="cd-timeline__container">
    {{ range $index, $element := .Params.timeline_elements }}
    <!-- cd-timeline__block -->
    <div class="cd-timeline__block js-cd-block">
      <div class="cd-timeline__img cd-timeline__img--picture js-cd-img" style="background-color: {{ $element.imageicon_color }}">
        <img src="{{ relURL $element.Imageicon }}" alt="Location">
      </div> <!-- cd-timeline__img -->

      <div class="cd-timeline__content js-cd-content">
        {{ $element.text | markdownify }}
        <span class="cd-timeline__date">{{ $element.title_date }}</span>
      </div> <!-- cd-timeline__content -->
    </div>
    {{ end }}
  </div>
</section>
<script src="{{ "" | absLangURL }}js/main.js"></script>
