<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head" . }}
<body>
<div id="wrapper">
  {{- if ne .Page.Kind "404" -}}
    {{ partial "nav" . }}
  {{- end -}}
  {{block "main" . }}{{ end }}
  {{ partial "contentFooter" . }}
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
{{ partial "footer" . }}
</body>
</html>